
:root{
    --key-size:48px;
    
}

.keysContainer{
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
background-color:#262c2c;
border-radius: 10px;
padding: 1em;
max-width: 595px;
margin: 0 auto;
}

.keyboardKey{
    width: var(--key-size);
    height: var(--key-size);
    margin: 0.25em;
    border-radius: 10px;
    color:#73b9ca;
    text-transform: uppercase;
    background-color: #323640;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    box-shadow: 1px 5px 0px -2px rgba(0, 0, 0, 0.75);
    cursor: pointer;   
}

.hiddenWord {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em auto 1em auto;
}

.hiddenWord span {
   display: inline-block;
   margin: 0.5em; 
   border-bottom: 2px solid black;
   width: 0.5em;
   height: 1.4em;
   padding: 0;
}

.hiddenWord p {
    padding: 0;
    margin: 0;

}

.invisible {
    display: none;
}

.statusIndicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button.keyboardKey:disabled,
button.keyboardKey[disabled] {
   border: none;
   color:rgb(119,67,67);
   box-shadow: none;
   cursor: default;
}